/*стили по умолчанию*/
html {
    box-sizing: border-box;
    /* это свойтсво  не наследуюется*/
}

*,
::before,
*::after {
    box-sizing: inherit;
    /* наследуюем знчение  box-sizing для всх элементов*/
}

body {
    min-width: 320px;
    min-height: 100vh;
    font-family: Inter, sans-serif;
    /*sans-serif(без засечек) запасной шрифт, если iNter не подключиться*/
}


img,
svg {
    max-width: 100%;
    height: auto;
    max-height: 100%;
    /*не обязатльно*/
}

button {
    padding: 0;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

.container {
    max-width: 1240px;
    /*1180 + 30px(padding-left) + 30px(padding-right)*/
    /*ширина контента*/
    margin: 0 auto;
    padding: 0 30px;
}

.overlay {
    /*оверлей то что окружает мод окно*/
    /*зафиикисровано*/
    position: fixed;
    /*или  top:0 bottom:0 right:0 left:0*/
    inset: 0;
    /*чтоыб был выше .header, у .header z-index:1*/
    z-index: 999;
    /*чтомодалка юыла по  центру*/
    text-align: center;

    /*если модалка не будет вмещаться в экран по верикали, то появится стрколл*/
    overflow-y: auto;
    /*гор скролл не будет поялаться*/
    overflow-x: hidden;

    opacity: 0;
    visibility: hidden;

    /*время анимации*/
    transition-duration: 0.36s;

    /*чтобы псевдоэлеент был рядом с мод окном, чтоб он не переносился вниз или верх*/
    white-space: nowrap;

    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}


.overlay:after {
    /*псевдо-элемент*/
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}


.overlay-open {
    opacity: 1;
    visibility: visible;
}


@media(max-width: 1024px) {

    /* <1024 */
    .container {
        /*ширина контента*/
        max-width: 840px;
        /*780-контент + 30px(padding-left) + 30px(padding-right)*/
    }

}


@media(max-width: 768px) {

    /* <768 */
    .container {
        max-width: 740px;
        /*680-контент + 30px(padding-left) + 30px(padding-right)*/
    }

}


@media(max-width: 480px) {

    /* <480 */
    .container {

        padding: 0 15px;
    }

}