.about-us {
    padding: 40px 0;

}


.about-us__title {
    margin-bottom: 34px;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 53px;
    color: #55C2FF;
}


.about-us__container {
    display: flex;
    justify-content: space-between;
    gap: 20px;

}

.about-us__advantage {
    /* флекс элемент*/
    /* если останется свобдное простарвно то элемен растянется*/
    flex-grow: 1;
    width: 100%;
}

.about-us__exchange-rates {
    /* флекс элемент*/
    /* здесь растягиваться не будет, задаем фиксированное значение*/
    max-width: 380px;
}


@media(max-width: 1024px) {
    /* <1024px */

    .about-us__container {
        /*флекс элемент  можно переноситься если не будет вмещаться:*/
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        gap: 80px;
    }
}



@media(max-width: 860px) {
    /* <860px */

    .about-us__container {
        gap: 60px;
    }
}