.footer {
    background-color: #08475E;
    padding-top: 40px;
    padding-bottom: 42px;
    color: #FFFFFF;
}


.footer__container {
    /*грид контенейр*/
    display: grid;
    gap: 34px 10px;
    grid-template-areas:
        /* 2 строки , 3 столбца */
        "logo  navigation navigation"
        "copyright . design"
    ;
}


.footer__logo {
    /*грид элемент*/
    grid-area: logo;
}


.footer__navigation {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}


.navigation {
    /*грид элемент*/
    grid-area: navigation;
    justify-self: start;
    align-self: center;
}

.navigation__list {}

.navigation__item {}

.navigation__link {}



.footer__copyright {
    /*грид элемент*/
    grid-area: copyright;
    font-size: 12px;
    line-height: 130%;
}


.footer__design {
    /*грид элемент*/
    grid-area: design;
    justify-self: end;
    align-self: center;
    font-size: 12px;
    line-height: 130%;
}


/* align-self - выравнивает  по вертикали грид элемнт относитльено грид ячейки */
/* justidy-self - выравнивает  по горизонтали грид элемнт относитльено грид ячейки */



@media(max-width: 768px) {

    .footer__navigation {
        font-size: 14px;
        line-height: 17px;
    }
}



@media(max-width: 480px) {

    .footer__container {
        grid-template-areas:
            /* 2 строки , 2 столбца */
            "logo  navigation"
            "copyright design"
        ;
    }

    .navigation {
        justify-self: end;
    }
}