.hero {
    background-image: url('../../img/hero-background.jpg');
    /* чтоб картинка растягивалась на сю ширину и высоту*/
    background-size: cover;
    background-position: center;
    /* если картинка не подгрузится тобудт просто черный фон */
    background-color: #000;
    color: #fff;

}



.hero__container {
    padding-top: 127px;
    padding-bottom: 127px;

}


.hero__title {
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 100px;
    line-height: 121px;
    color: #55C2FF;
}



.hero__subtitle {
    max-width: 480px;
    margin-bottom: 50px;
    font-family: 'IBM Plex Sans';
    font-weight: 300;
    font-size: 22px;
    line-height: 29px;
    color: #FFFFFF;

}



.hero__btn {
    padding: 11px 41px;
    /* max-width: 232px;
    width: 100%;
    height: 39px; */
    background-color: #55C2FF;
    border-color: transparent;
    border-radius: 8px;

    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}


@media(max-width: 1024px) {

    /*<1024*/
    .hero__container {
        padding-top: 92px;
        padding-bottom: 92px;
    }

    .hero__subtitle {
        margin-bottom: 30px;
    }
}



@media(max-width: 768px) {

    /*<768*/
    .hero__container {
        padding-top: 81px;
        padding-bottom: 18px;
    }

    .hero__title {
        margin-bottom: 10px;
        font-size: 60px;
        line-height: 73px;
    }

    .hero__subtitle {
        max-width: 354px;
        margin-bottom: 24px;
        font-size: 16px;
        line-height: 21px;
    }
}



@media(max-width: 480px) {
    /*<480px*/

    .hero__container {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .hero__title {
        margin-bottom: 10px;
        font-size: 40px;
        line-height: 48px;
    }

    .hero__subtitle {
        max-width: 230px;
        margin-bottom: 25px;
    }

    .hero__btn {
        padding-right: 30px;
        padding-left: 30px;
    }
}