.navigation__list {
    display: flex;
    align-items: center;

}

.navigation__item {
    margin-right: 43px;
}

.navigation__item:last-child {
    /*последний элемент*/
    margin-right: 0;
}



@media(max-width: 768px) {

    /*<768*/
    .navigation__list {

        /*шрина контента*/
        max-width: 740px;
        margin: 0 auto;
    }

    .navigation__list--header {
        padding: 16px 30px;
    }
}


@media(max-width: 480px) {

    /*<480*/
    .navigation__list {
        flex-direction: column;
        align-items: flex-start;
    }

    .navigation__list--header {
        padding-left: 15px;
        padding-right: 15px;
    }

    .navigation__item--footer {
        margin-right: 16px;
    }

    .navigation__item {
        margin-bottom: 20px;
        margin-right: 0;
    }


    .navigation__item:last-child {
        /*последний элемент*/
        margin-bottom: 0;
    }


}